html {
    background-color: #d30000;
}
body {
    display: grid;
    background-color: #002096e1;
    border-radius: 15px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto auto;
    gap: 5px;

}

header {
    background-color: #bda00d;
    border-radius: 15px;
    grid-column: 1 / 3;
    grid-row: 1; 
    text-align: center;
    border: 5px solid #ffffff;
    color: #ffffff;
    padding: 0;
    margin: .35em;
}

main {
    background-color: #bda00d;
    grid-column: 2 / 3;
    grid-row: 2;
    border: 4px solid #ffffff;
    padding: 1.5em;
    margin: .5em;
}

aside {
    background-color: #bda00d;
    grid-column: 1 / 2;
    grid-row: 2;
    border: 4px solid #ffffff;
    padding: 1em;
    margin: 0;
}

footer {
    background-color: #bda00d;
    border-radius: 10px;
    grid-column: 1 / 3;
    grid-row: 3 ;
    border: 4px solid #ffffff;
    padding: 0;
    margin: 0;
}

.nav {
    display: flex; 
    justify-content: space-evenly;
    padding: 0;
    grid-column: 1 / 3;
}

header ul li {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

.block, li {
    border: 2px solid #ffffffcc;
    background-color: #150189;
    padding: .75em;
    border-radius: 10px;
}

.nav a {
    color: #ffffff;
}

h1 {
    font-size: 300%;
    text-shadow: 
    -2px -2px 0 #ff0000,  
    2px -2px 0 #ff0000,
    -2px 2px 0 #ff0000,
    2px 2px 0 #ff0000;
}